body * {
  font-family: Helvetica, sans-serif;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

#business_card td {
  width: 15px;
  height: 18px;
  padding: 0;
  text-align: center;
  cursor: default;
}


#business_card {
  margin: 10% auto;
  border-spacing: 0;
  border-collapse: collapse;
}

#business_card a {
    text-align: center;
    display: table-cell;
    text-decoration: none;
    color: inherit;
}